# Dependencies
node_modules/
.venv/
__pycache__/
*.pyc

# Environment Files
.env
.env.local
*.env

# Uploads and temporary data
backend/uploads/*
!backend/uploads/.gitkeep

# IDE and OS
.DS_Store
Thumbs.db
.vscode/
.idea/
